:root{
    --text-color:#333;
    --icon-color:#699BF7;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    height: 100vh;
    overflow: hidden;
    color: #fff;
   
}

h2{
    font-size: 32px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/* 버튼 */
.link-btn{
    padding: 10px 20px;
    /* border: 1px solid black; */
    background: #fff; 
    
}

#main-header{
    width: 330px;
    height: 100vh;
    background: #ccc;
    padding: 48px 52px;
    float: left;
}

#main-header > h1 {
    margin-bottom: 97px;
}

#gnb > ul > li > a{
    width: 226px;
    height: 40px;
    /* outline: 1px solid red; */
    padding: 10px;
    /* 정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sns{
    position: absolute;
    bottom: 48px;
    left: 83px;
}

/* main너비 = 100% - 330px */
main {
    background: rgb(130, 127, 127);
    float: left;
    width: calc(100% - 330px);
    height: 100vh;
    overflow: hidden;
   
}

main > .box {
    width: 50%;
    height: 50%;
    /* outline: 2px solid black; */
    text-align: center; 
    float: left;
   position: relative;
    background-size: cover;
    background-position: center;
}

main .box .title{
    position: absolute;
    bottom: 40px;
    display: inline-block;
    width: 100%;
}
main .box .title h2{
    margin-bottom: 25px;
    color: #fff;
}

.link-btn{
    position: absolute;
    
    
}


  main >.box:nth-child(1){
    background-image: url(../image/bg01.jpg);


  }
  main >.box:nth-child(2){
    background-image: url(../image/bg02.jpg);

  }
  main >.box:nth-child(3){
    background-image: url(../image/bg03.jpg);

  }
  main >.box:nth-child(4){
    background-image: url(../image/bg04.jpg);

  }
  
  
